# Ignora l'ambiente virtuale
venv/

# Ignora i file generati da Python
*.pyc
__pycache__/

# Ignora i file temporanei del sistema operativo
.DS_Store
Thumbs.db

# Ignora i modelli salvati in formato pkl
*.pkl

# Ignora il file global_requirements.txt se non necessario per il repository
global_requirements.txt

# ignora pip 
pip/
requirements.txt
